.bediktBox{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}
#submitBtn{
    background-color: white;
    width: 20%;
    height: 60px;
    font-size: large;
    font-weight: 700;
    margin: auto;
}